body {
    font-family: sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container__zone-1 {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}

.container__zone-2 {
    flex: 1;
    padding: 10px;
}

#preview {
    width: 100%;
    height: 100%;
    border: none;
}

.component-btn {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

.container__editor-wrap {
    margin-top: 10px;
}

textarea {
    width: 100%;
    margin-bottom: 5px;
    height: 80px;
}

.container__input-container {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.container__input {
    flex: 1;
    padding: 2px 5px;
}

#loader {
    border: 5px solid #f3f3f3;
    /* Light grey background */
    border-top: 5px solid #3498db;
    /* Blue spinner */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 1s linear infinite;
    margin-inline-start: 20px;
    /* center horizontally */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container__zone-2--flex {
    display: flex;
    align-items: center;
}